#c1{
    border: 10px seagreen solid;
    background-color: white;
}
body{
    background-image: url('https://www.collinsdictionary.com/images/full/canvas_477755755_1000.jpg');
    background-repeat: no-repeat;
    background-size: cover;}